# Virtual Environment
.venv/
venv/
env/
ENV/

# Sensitive Information
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project Specific
sample_outputs/
